# Titles and genres dataset

*   This Python script list all the titles from a [public Netflix dataset](https://www.kaggle.com/datasets/victorsoeiro/netflix-tv-shows-and-movies) and creates a new dataset with each title and country in a separated row.

In [1]:
import pandas as pd

Read the CSV file that contains the titles from Netflix dataset.

In [2]:
titles = pd.read_csv("/content/drive/MyDrive/Portifolio/Netflix/datasets/titles.csv")
titles

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,48,['documentation'],['US'],1.0,NaN,NaN,NaN,0.600,NaN
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,"['crime', 'drama']",['US'],NaN,tt0075314,8.3,795222.0,27.612,8.2
2,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['comedy', 'fantasy']",['GB'],NaN,tt0071853,8.2,530877.0,18.216,7.8
3,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,['comedy'],['GB'],NaN,tt0079470,8.0,392419.0,17.505,7.8
4,tm190788,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,R,133,['horror'],['US'],NaN,tt0070047,8.1,391942.0,95.337,7.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5801,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,"['romance', 'drama']",['NG'],NaN,tt13857480,6.9,39.0,0.966,NaN
5802,tm1108171,Edis Starlight,MOVIE,Rising star Edis's career journey with ups and...,2021,NaN,74,"['music', 'documentation']",[],NaN,NaN,NaN,NaN,1.036,8.5
5803,tm1045018,Clash,MOVIE,A man from Nigeria returns to his family in Ca...,2021,NaN,88,"['family', 'drama']","['NG', 'CA']",NaN,tt14620732,6.5,32.0,0.709,NaN
5804,tm1098060,Shadow Parties,MOVIE,A family faces destruction in a long-running c...,2021,NaN,116,"['action', 'thriller']",[],NaN,tt10168094,6.2,9.0,2.186,NaN
5805,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,0,"['family', 'comedy', 'animation']",[],1.0,tt13711094,8.8,16.0,0.979,10.0

Read the CSV file that contains the list of all countries.

In [40]:
countries = pd.read_csv("/content/drive/MyDrive/Portifolio/Netflix/datasets/countries.csv", index_col="code")
countries

       id                  name
code
AD      1               Andorra
AE      2  United Arab Emirates
AF      3           Afghanistan
AG      4   Antigua and Barbuda
AI      5              Anguilla
...   ...                   ...
YT    246               Mayotte
ZA    247          South Africa
ZM    248                Zambia
ZW    249              Zimbabwe
99    999        Not Registered

[250 rows x 2 columns]

Every row can have more than one genre.

So, it's necessary to separate the genres listed in every row.

This column will be treated as list of strings.

In [10]:
production_countries = titles.production_countries
production_countries

0             ['US']
1             ['US']
2             ['GB']
3             ['GB']
4             ['US']
            ...
5801          ['NG']
5802              []
5803    ['NG', 'CA']
5804              []
5805              []
Name: production_countries, Length: 5806, dtype: object

Read all the genres listed and create a new dataset relationing all titles and genres.

In [41]:
df = pd.DataFrame()
#print(unique_genres.where(unique_genres.genre == 'documentation').head(1).id)
for title in titles.itertuples():
  for country_code in eval(title.production_countries):
    
    if country_code in countries.index:
      country_id = str(countries.loc[country_code].id)
    else:
      country_id = "999"
    
    row = {'title_id': title.id,
          'country_id': country_id}
    df = df.append(row, ignore_index=True)
  
print(df)
df.to_csv("/content/drive/MyDrive/Portifolio/Netflix/datasets/titles_countries.csv", encoding = "utf-8", index=False)

       title_id country_id
0      ts300399        233
1       tm84618        233
2      tm127384         77
3       tm70993         77
4      tm190788        233
...         ...        ...
6489   ts307884        164
6490  tm1040816        177
6491  tm1014599        164
6492  tm1045018        164
6493  tm1045018         38

[6494 rows x 2 columns]